/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/10/2015, 08:47:57
    Author     : Mario Jorge
*/

#error404 {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
}

#error403 {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
}

#voltar {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-50px;
    margin-top:110px;
}



